<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-platform-accessor" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
	
    <name>PlatformAccessor</name>
    
	<license>MIT</license>
	
	<repo>https://github.com/jjbox-pro/cordova-platform-accessor.git</repo>
	
	<js-module name="PlatformAccessor" src="www/PlatformAccessor.js">
        <clobbers target="cordova.plugins.PlatformAccessor" />
    </js-module>
    
	<platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PlatformAccessor">
                <param name="android-package" value="PlatformAccessor" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/PlatformAccessor.java" target-dir="src/cordova/plugin/platform/accessor/PlatformAccessor" />
    </platform>
    
	<platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PlatformAccessor">
                <param name="ios-package" value="PlatformAccessor" />
            </feature>
        </config-file>
        <header-file src="src/ios/PlatformAccessor.h" />
        <source-file src="src/ios/PlatformAccessor.m" />
    </platform>
</plugin>